## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.pre
*.toc
*.fmt
*.fot
*.fdb_latexmk

## Intermediate documents:
*.dvi
*-converted-to.*
math-cheatsheet.tex
math-cheatsheet.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.bak
*.sav

## asymptote environment
math_cheatsheet-*.asy
math_cheatsheet-*.pdf

# preview tex
_region_*

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# easy-todo
*.lod

# auto folder when using emacs and auctex, knitr
auto/
cache/
figure/
.cache/
.fig/

# other files
test.R
simulated-maximum-likelihood.pdf

# emacs
*~

# R
.Rprofile
.RData
.Rhistory

